
RYCHARLLISON KAUA PRADO JULIANO <rycharllison.juliano@escola.pr.gov.br>
16:33 (há 9 minutos)
para mim

body {
    #383D58 }
body {
background-color: #383D58;
}
<title>Document</title>
<link rel=”stylesheet” href=”style.css”>
body {
    background-color: #383D58;
    color: white;
    }header {
        background-color: #383D58;
        color: white;
        }<img class=”cabecalho-imagem” src=”./img/alurastart logo 1.png”.cabecalho-imagem{
        }.cabecalho-imagem{
            width: 20%;
            }.cabecalho {
                background-color: #383D58;
                color: white;
                }color: white;
                display:flex;
                }display:flex;
                justify-content: space-around;
                }.cabecalho-lista-item{
                    display: inline-block;
                    }.cabecalho-lista-item{
                        display: inline-block;
                        margin: 0 16px;
                        }* {
                            margin: 0;
                            margin: 0 16px;
                            padding: 24px 0;
                             padding: 0;
                            justify-content: space-around;
                            padding: 24px 0;
                            padding: 24px 0;
                            font-size: 24px;
                            }
                        }</header>
                        <section>
                        </section>
                        </body><section>
                        <h2>Sobre a Escola</h2><h2>Sobre a Escola</h2>
                        <p></p>
                        <p></p><section class=”escola”>
                        <h2 class=”escola-titulo”>Sobre a Escola</h2>
                        <p class=”escola-texto-um”></p>
                        <p class=”escola-texto-dois”></p>
                        </section>background-image: linear-gradient(#383D58,#00c0eb);
                        color: white;color: white;
                        display:flex;<section class=”escola”>
                        <div class=”escola-conteudo”>
                        <h2 class=”escola-titulo”>Sobre a Escola</h2>
                        <p class=”escola-texto-um”>A escola Alura foi fundada em 2010 com o objetivo de
                        ensinar>
                        Pensamento Computacional através da Programação. </p>
                        <p class=”escola-texto-dois”>A turma mais famosa é a Segunda Série A. Uma turma
                        diversa
                        e engajada, as vezes, um pouco bagunceira, mas que entrega excelentes
                        resultados!</p>
                        </div>.escola-conteudo{
                            width: 35%;.escola-titulo {
                                padding: 24px 0;
                                }
                            }
                            display:flex;
                            justify-content: center;justify-content: center;
                            align-items: center;align-items: center;
                            padding: 24px 0;

                            .estudante-titulo{
                                text-align: center;
                                }
                                text-align: center;
padding: 50px 0;
<div class=”estudante-todos”>
<div class=”estudante-div”>
<img class=”estudante-imagem “src=”./img/Marcelo 1.png” alt=”foto do estudante
Marcelo”>
<h3 class=”estudante-nome”>Marcelo</h3>
<img class=”estudante-icone”src=”./img/instagram.png” alt=”Instagram”>
<img class=”estudante-icone”src=”./img/github.png” alt=”Github”>
<img class=”estudante-icone” src=”./img/linkedin.png” alt=”LinkedIn”>
</div>
</div>
<span></span>
<div class=”estudante-div”>
grid-template-columns: 20% 20% 20% 20%;
<div class=”estudante-div”>

<img class=”estudante-imagem “src=”./img/Marcelo 1.png” alt=”foto do estudante

Marcelo”>

<h3 class=”estudante-nome”>Marcelo</h3>

<a href=”https://www.instagram.com/”><img class=”estudante-
icone”src=”./img/instagram.png” alt=”Instagram”></a>
<a href=”https://www.instagram.com/” target=”_blank”>
</section>
<footer>
</footer>
</body>
<footer>
<img src=”./img/alurastart logo 1.png” alt=”logo da alura start”>
</footer>
footer{
        footer{
            background-color: black;
            padding: 15px 0;
            text-align: center;
            }
            <meta name=”viewport” content=”width=device-width,initial-scale=1”>
<link rel=“stylesheet” href=”style.css”>
</head>if (tempoFinal > 0){
    return dias + “ dias “ + horas + “ horas “ + minutos + “
    minutos “ + segundos + “ segundos”;
Pensamento Computacional através da Programação. </p>
<p class=”escola-texto-dois”>A turma mais famosa é a Segunda Série A. Uma turma
diversa

e engajada, as vezes, um pouco bagunceira, mas

que entrega excelentes resultados!</p>
<img src=”./img/Formula-bro.png” alt =”professora no quadro”>
<img class=”cabecalho-imagem” src=”./img/alurastart logo 1.png”
<img class=”cabecalho-imagem” src=”./img/alurastart logo 1.png” alt=”logo da alura
start”>
<ul class=”cabecalho-lista-item”>
<li>Estudante</li>
<li>Escola</li>
</ul>
<li class=”cabecalho-lista-item”>Estudante</li>
<li class=”cabecalho-lista-item”>Escola</li>
<title>Document</title>
<link rel=”stylesheet” href=”style.css”>
<h1>Vai ser uma imagem aqui</h1>
<ul>
</ul>
<!DOCTYPE html>
<html>
<head>
<title>Alura Plus</title>
<meta charset=”UTF-8”>
<meta name=”viewport” content=”width=device-width, initial-scale=1”>
<link rel=“stylesheet” href=”style.css”>
</head>
<body>
</body>
</html>
:root {
}
:root { --branco-principal:
    #FFFFFF;
    }
.container__botao {
    background-color: var(--botao-azul);
    }
    .container {
        height: 100vh;
        display:grid;
        }
        <head>
        <title> Alura Plus</title>
        <meta charset=”UTF-8”>
        <meta name=”viewport” content=”width= device-width, initial-scale = 1”>
        <link rel = “stylesheet” href=”style.css”>
        <link rel=”preconnect” href=”https://fonts.googleapis.com”>
        <link rel=”preconnect” href=”https://fonts.gstatic.com” crossorigin>
        <link href=”https://fonts.googleapis.com/
        css2?family=Inter:wght@700&display=swap” rel=”stylesheet”>
        </head>
        --cor-de-fundo: #00030C;
--fonte-principal: ‘Inter’;
}
body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    }
    font-family: var(--fonte-principal);
font-size: 16px;
font-size: 16px;
font-weight: 400;
.container__aviso {
    font-size:12px;
    }
    font-size:12px;
    display: block;
    .container__titulo {
        font-size:28px;
        font-weight: 700;
        }
        .container__imagem {
            margin: 1em 0 2em 0;
            }
            .container__caixa{
                margin: 0 6em;
                }
                .descricao__titulo {
                    font-weight: 700;
                    font-size:48px;
                    color:var(--branco-principal);
                    }
                    .dispositivos__lista {
                        display: flex;
                        }
                        display: flex;
                    justify-content: center;
                    .dispositivos {
                        text-align: center;
                        }
                        .dispositivos__titulo {
                            font-size: 48px;
                            color:var(--branco-principal);
                            }                
                            .lista__item {
                                font-size: 32px;
                                color:var(--branco-principal);
                                
                                justify-content: center;
                                justify-content: center;
                                list-style-type: none;
                                List-style-type: none;
                                margin-top: 1em;
                            }
                                .lista__link a{
                                    text-decoration: none;
                                    text-decoration: none;
                                color: var(--branco-principal);
                                }
